@charset "utf-8";
/* CSS Document */

.container {background-color:#CCFFFF; padding-left:20px; padding-right:20px; border-radius:5px;}
.content .btn-primary {width:150px;}
.content img {float:left; margin-right:20px;}
header {background-color:#666; color:#fff; padding-left:20px; padding-right:20px; height:95px; margin-bottom:5px; border-radius:5px;}
footer {margin-top:20px; background-color:#666; color:#fff; padding:20px; border-radius:5px;}
footer a {color:#CCC; text-decoration:none;} 	footer a:hover {color:#0F0;}
* {margin:0; padding:0;}
h1,h2,h6{padding:0; margin:0;}

hr {margin:2px;}
h1,h2,h3,h4,h5,h6 {font-family:Georgia, "Times New Roman", Times, serif;}
h2,h3 {color:#09F;}
.content a {text-decoration:none; }
.content a:hover{color:#F90;}

p {padding-bottom:15px; line-height:20px;}
body {font-family:Verdana, Geneva, sans-serif; color:#333; font-size:12px;}
.clear {clear:both;}
p {line-height:20px; text-align:justify;}
.container { width:100%; margin:0 auto; background-color:#FFFFFF; padding:auto;}
.logo {height:100px; color:#06F; margin:0; padding:0 auto; padding-bottom:0px; margin-bottom:0; }
.logo a{text-decoration:none; font-size:60px; font-style:italic; color:#FFF; }
span.slogan {font-size:12px; font-style:italic; display:block; padding-top:5px;}
.info {width:400px; float:right;}
.info p {text-align:right;}

.menu {background-color:#ccc; padding:10px; margin-top:20px; }
.menu ul {list-style:none;}
.menu li {float:left;}
.menu a {display:block; background-color:#06F; margin-right:25px; padding:5px 15px; text-decoration:none; color:#fff;}
.menu a:hover,a.current {background-color:#F30;}

.banner,.content,.footer {margin-top:5px;}
.cleft,.cright,.footer {padding:10px; background-color:#ccc;}
.cleft {width:580px; float:left;}
.cright {width:300px; float:right;}
.content input,.content textarea {display:block; margin-top:10px; padding:5px;}
.content input[type=submit] { background-color:#06F; color:#fff; border:0; padding:5px 15px}
.content input[type=submit]:hover { background-color:#F30;}
.footer p {text-align:center;} 
.contact .cleft {width:300px;}
.contact .cright {width:600px; padding:0}


.date{float:right; text-align:right; } 

.sidebar-left{float:left; margin-top:10px; margin-bottom:10px;  padding:10px; color:#30F;}

.sidebar-right1{float:left; margin-top:10px; margin-bottom:5px; padding-left:20px; color:#30F;}
.sidebar-right1 a{text-decoration:none;}
.sidebar-right1 a:hover{color:#F90;}


.img-rightbar
 {
  display: block;
  max-width: 100%;
  height: 100px;
  margin-bottom:10px; margin-top:2px;
}

.sidebar-right1 img {float:right;}
.sidebar-right2{float:right; margin-top:5px; margin-bottom:20px; border-top:#999 1px solid; border-bottom:#999 1px solid; padding:20px; color:#30F;}


.content{padding:0 60px 60px 60px; float:left; min-height:800px; border-right:#999 1px solid;  border-left:#999 1px solid;}
.img-content,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > img,
.carousel-inner > a > img {
  display: block;
  max-width: 100%;
  height: 300px;
  margin-bottom:10px; margin-top:2px;
}


.marque {background-color:#09F; height:30px; margin-top:1px; font-size:24px; font-family:Georgia, "Times New Roman", Times, serif; color:#FFF}
.paging {text-align:center; font-size:30px; font-family:Georgia, "Times New Roman", Times, serif; color:#FFF; }

.containeradmin{margin:20px 100px 20px 100px;}

.btn-color{background-color:#eee; font-size:18px;}

.adds{height:225px;}